### Importing the neccesary modules

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./Global+Superstore+Data.csv')

In [4]:
df.head()

   Order Date      Segment  Market     Sales    Profit
0  31-07-2012     Consumer      US  2309.650  762.1845
1  05-02-2013    Corporate    APAC  3709.395 -288.7650
2  17-10-2013     Consumer    APAC  5175.171  919.9710
3  28-01-2013  Home Office      EU  2892.510  -96.5400
4  05-11-2013     Consumer  Africa  2832.960  311.5200

### Understanding the data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order Date  51290 non-null  object
 1   Segment     51290 non-null  object
 2   Market      51290 non-null  object
 3   Sales       51290 non-null  float64
 4   Profit      51290 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.0+ MB

In [6]:
df.isnull().sum()
# Soo no null values data is already cleaned

Order Date    0
Segment       0
Market        0
Sales         0
Profit        0
dtype: int64

In [7]:
df.describe()

              Sales        Profit
count  51290.000000  51290.000000
mean     246.490581     28.610982
std      487.565361    174.340972
min        0.444000  -6599.978000
25%       30.758625      0.000000
50%       85.053000      9.240000
75%      251.053200     36.810000
max    22638.480000   8399.976000

In [8]:
# Different market and customer segments
df['Market'].unique()

#  7 places = 'US' , 'APAC', 'EU', 'Africa', 'EMEA', 'LATAM', 'Canada'

array(['US', 'APAC', 'EU', 'Africa', 'EMEA', 'LATAM', 'Canada'],
      dtype=object)

In [9]:
df['Segment'].unique()

# 3  segements = ['Consumer', 'Corporate', 'Home Office']
# In total 21 unique segements

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

### Finding out the most profitable market segement